@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>Desafio Coleta GRX</h1>
    <p class="lead">Este é meu primeiro projeto em ASP.NET Framework, aqui, foi desenvolvido um formulário para coleta de dados do usuário.</p>
    <p><a href="/Coleta/formulario" class="btn btn-success btn-lg">Formulário &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sobre</h2>
        <p>
            Oi, meu nome é Wilson Salles Junior, sou de Bauru/SP, tenho 25 anos e amo programar. Meu primeiro contato com programação foi por volta dos meus 14 ou 15 anos, tive contato com o C# através da Unity3D, uma plataforma para desenvolvimento de jogos.
        </p>
        <p><a class="btn btn-default" href="http://wilsonsalles-jnr.github.io/" target="_blank">Portifólio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Desafio</h2>
        <p>Apesar de saber um pouco sobre C#, este é meu primeiro projeto de fato, para desenvolver ele, utilizei alguns conhecimentos adquiridos através do curso da Trybe e em pesquisas.</p>
    </div>
    <div class="col-md-4">
        <h2>Objetivo</h2>
        <p>Meu objetivo atual com este desafio é aprender, as próximas etapas são:</p>
        <ul>
            <li>Gerar um arquivo JSON com os dados do formulário *</li>
            <li>Ler o arquivo gerado para exibir resultado *</li>
            <li>Desenvolver um CRUD para salvar os dados do formulário</li>
        </ul>
    </div>
</div>