.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    position: center;
}

.text-box textarea {
    width: 100%;
}

.counter {
    text-align: right;
    font-size: smaller;
    font-weight: bold;
    color: white;
    padding: 1px 10px;
    border-radius: 0 10px 10px 0;
    filter: opacity(70%);
}

